@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

.page-break {
  page-break-after: always;
}